@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter';
  --font-poppins: 'Poppins';
  --primary-background: #151517;
  --primary-dark: #0A0A0B;

  /* Optional custom tailwind-like variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: monospace;
  --color-primary-dark: var(--primary-dark);
  --color-primary-background: var(--primary-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-dark: #0A0A0B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Safari & Chrome */
}

.font-poppins {
  font-family: var(--font-poppins);
}

.primary-color-text{
  color: var(--primary-dark);
}

.highlighted-correct {
  fill: #22c55e !important;
  stroke: #14532d !important;
  stroke-width: 2px !important;
}

.highlighted-wrong {
  fill: #ef4444 !important;
  stroke: #7f1d1d !important;
  stroke-width: 2px !important;
}

.highlighted-press {
  fill: #3b82f6 !important;
}

  .cursor {
    stroke: none !important;
    fill: rgba(255, 0, 0, 0.35) !important; /* rectangle fill color */
  }

  .cursor-line {
    stroke: none !important; /* disable the default horizontal line */
  }

  /* Make the rectangle tall enough to cover staff height */
  .cursor-rect {
    fill: rgba(255, 0, 0, 0.6) !important;
    width: 3px !important;   /* cursor width */
  }
